@import "~/styles/mixins";

header.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 100;

    nav.nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;

        width: var(--width-container-header);
        margin-inline: auto;
        padding-inline: var(--border-radius-main);

        border-bottom-left-radius: var(--border-radius-main);
        border-bottom-right-radius: var(--border-radius-main);

        border: 2px solid var(--color-black);
        border-top: none;
        background: var(--color-primary-50);

        @include mobile {
            padding-inline: calc((100% - var(--width-min)) * 0.5);
            gap: 0.5rem;
        }

        & > :first-child {
            place-self: center start;
        }

        & > :last-child {
            place-self: center end;
        }

        button {
            background: none;
            border: none;
        }

        /* ---------------------- Styling for Button and Links ---------------------- */
        button,
        .links li a {
            @include font-small;
            font-weight: var(--fw-medium);

            color: var(--color-black);
            text-decoration: none;
            white-space: nowrap;

            @include mobile {
                font-size: var(--fs--1);
            }
        }

        /* -------------------- Styling for Button and ListItems -------------------- */
        button,
        .links li {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;

                width: 0;
                height: 1px;

                background: var(--color-black);

                transition: width var(--animation-duration-medium) var(--animation-function-bezier);
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        button:first-child,
        .links li:last-child a {
            font-weight: var(--fw-bold);
        }

        ul.links {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 2rem;

            & > :not(:last-child) {
                @include mobile {
                    display: none;
                }
            }
        }

        .menu {
            grid-column: 1 / 4;

            width: 100%;

            overflow: hidden;

            ul.menuList {
                li {
                    position: relative;

                    width: 100%;
                    /* ------------------------- Pseudo Element borders ------------------------- */
                    &:not(:last-child)::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;

                        width: 0%;
                        height: 1px;

                        background: var(--color-black);
                        transition: all var(--animation-duration) var(--animation-function-bezier);
                    }
                    &:not(:last-child)::after {
                        content: "";
                        position: absolute;
                        bottom: -1px;
                        left: 0;

                        width: 0%;
                        height: 1px;

                        background: var(--color-black);
                        transition: all var(--animation-duration) var(--animation-function-bezier);
                    }

                    &:hover {
                        &::before,
                        &::after {
                            width: 100%;
                        }
                    }

                    a {
                        display: inline-block;
                        width: 100%;
                        padding-block: calc(var(--padding-element) * 0.25);

                        @include font-header-medium;
                        font-weight: var(--fw-bold);

                        color: var(--color-black);
                        text-decoration: none;
                        text-transform: uppercase;
                        text-align: center;
                    }

                    &:last-child {
                        background: var(--color-success);
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;

                            width: 100%;
                            height: 100%;

                            background: var(--color-primary-700);
                            z-index: 1;

                            transition: height var(--animation-duration-medium) var(--animation-function-bezier);
                        }

                        &:hover {
                            &::before {
                                height: 0%;
                            }
                        }

                        a {
                            position: relative;
                            z-index: 2;
                            color: var(--color-white);
                        }
                    }
                }
            }

            .foot {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: end;

                padding-block: calc(var(--padding-element) * 0.5);

                border-top: 1px solid var(--color-black);

                @include mobile {
                    grid-template-columns: 1fr;
                    place-items: center;
                    gap: 1rem;
                }

                @include desktop {
                    & > :first-child {
                        place-self: start;
                    }

                    & > :last-child {
                        place-self: end;
                    }
                }

                p,
                a {
                    @include font-tiny;
                    color: var(--color-black);
                    opacity: 0.75;
                    text-align: center;

                    &:hover {
                        opacity: 1;
                    }
                }

                ul {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    gap: 1rem;

                    svg {
                        height: 1rem;
                        width: 1rem;
                        fill: var(--color-black);
                        opacity: 0.75;
                    }
                }
            }
        }
    }
}

.branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-block: 1rem;

    .logo svg {
        height: 2.5rem;
        fill: var(--color-black);

        @include mobile {
            height: 1.5rem;
        }
    }

    .name {
        text-align: center;
        font-weight: var(--fw-bold);
        font-family: var(--font-brand);
        font-size: var(--fs-0);
        line-height: 1;

        text-transform: uppercase;

        color: var(--color-black);
        opacity: 0.5;

        @include mobile {
            font-size: var(--fs--1);
        }
    }
}
