/* ////////////////////////////////////////////////////////////////////////// */
/*                                Media Queries                               */
/* ////////////////////////////////////////////////////////////////////////// */
@mixin mobile {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 768px) {
        @content;
    }
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                 Type Scales                                */
/* ////////////////////////////////////////////////////////////////////////// */
@mixin font-header {
    font-family: var(--font-header-alt-400);
    font-weight: var(--fw-regular);
    font-size: var(--fs-7);
    line-height: var(--font-line-height-header);

    @include mobile {
        font-size: var(--fs-6);
    }
}

@mixin font-header-medium {
    font-size: var(--fs-4);
    font-weight: var(--fw-regular);
    font-family: var(--font-header);
    line-height: var(--font-line-height-header);
}

@mixin font-header-small {
    font-size: var(--fs-1);
    font-weight: var(--fw-bold);
    font-family: var(--font-header-alt-700);
    line-height: var(--font-line-height-subheader);
}

@mixin font-subheader {
    font-size: var(--fs-2);
    font-weight: var(--fw-light);
    font-family: var(--font-body);
    line-height: var(--font-line-height-subheader);
}

@mixin font-subheader-medium {
    font-size: var(--fs-1);
    font-weight: var(--fw-light);
    font-family: var(--font-body);
    line-height: var(--font-line-height-subheader);
}

@mixin font-body {
    font-size: var(--fs-0);
    font-weight: var(--fw-light);
    font-family: var(--font-body);
    line-height: var(--font-line-height-body);
}

@mixin font-tiny {
    font-size: var(--fs--2);
    font-weight: var(--fw-light);
    font-family: var(--font-body);
    line-height: var(--font-line-height-body);
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                  Scrollbar                                 */
/* ////////////////////////////////////////////////////////////////////////// */
@mixin scrollbarColor($scrollbarBackgroundColor, $scrollbarThumbColor, $width, $widthProperty) {
    &::-webkit-scrollbar {
        width: $width;
        background-color: $scrollbarBackgroundColor;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scrollbarThumbColor;
    }

    /* Firefox */
    @supports (scrollbar-color: $scrollbarThumbColor $scrollbarBackgroundColor) {
        scrollbar-color: $scrollbarThumbColor $scrollbarBackgroundColor;
        scrollbar-width: $widthProperty;
    }
}
