@import "~/styles/mixins";

/* ////////////////////////////////////////////////////////////////////////// */
/*                                   Global                                   */
/* ////////////////////////////////////////////////////////////////////////// */
main.main {
    isolation: isolate;

    .stickyWrapper {
        --sectionNegativeMarginBottom: calc(var(--border-radius-main) * -1 - var(--margin-shadow-bottom));
        --headerPadding: calc(var(--sectionNegativeMarginBottom) * -1 + calc(var(--padding-section) * 0.5)) 0 calc(var(--padding-section) * 0.5) 0;

        position: relative;
        z-index: 1;
    }
}

.divider {
    height: 1px;
    width: 100%;
    background: var(--color-black);
    opacity: 0.1;
    margin-block: calc(var(--padding-element) * 0.25);
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                               Contact Section                              */
/* ////////////////////////////////////////////////////////////////////////// */
header.contact {
    position: sticky;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--headerPadding);

    background: var(--color-primary-50);

    z-index: 14;

    h1 {
        @include font-header;
    }

    p {
        @include font-subheader-medium;

        text-align: center;

        max-width: var(--width-container-medium);

        margin-top: var(--margin-top-subheader);
    }
}

section.contact {
    position: relative;

    width: 100%;

    background: var(--color-primary-50);

    border-radius: 0 0 var(--border-radius-main) var(--border-radius-main);

    margin-bottom: var(--sectionNegativeMarginBottom);

    z-index: 14;

    & > :not(section) {
        width: var(--width-container-main-bigger);
        margin-inline: auto;
    }

    .rowMain {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        gap: calc(var(--padding-element) * 2);

        padding-block: var(--padding-element) 0;

        .callout {
            flex: 1;
            display: flex;
            flex-direction: column;

            // margin-right: var(--padding-element);

            h1 {
                @include font-header-medium;
            }

            p {
                @include font-body;
                font-weight: var(--fw-regular);
                // opacity: 0.75;
                margin-top: 0.75em;
            }
        }

        .rate {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            // margin-left: var(--padding-element);

            background: var(--color-primary-100);

            & > * {
                padding-block: 0.5rem;
            }

            h2 {
                position: relative;
                font-family: var(--font-header);
                font-size: var(--fs-2);
                font-weight: var(--fw-medium);

                &::after {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 0;

                    height: 1px;
                    width: 100%;

                    background: var(--color-black);
                    opacity: 0.1;
                }
            }

            .rating {
                display: flex;
                gap: 0.75rem;

                svg {
                    height: 2rem;
                    width: 2rem;
                    fill: var(--color-success);
                }
            }
        }
    }

    .rowSmall {
        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding-block: calc(var(--padding-element) * 0.5);

        p {
            @include font-small;
            opacity: 0.5;
        }

        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;

            height: 1px;
            width: 100%;

            background: var(--color-black);
            opacity: 0.1;
        }

        .socials {
            display: flex;
            gap: 1rem;

            svg {
                height: var(--fs--1);
                width: var(--fs--1);
                fill: var(--color-black);
            }
        }
    }

    .reviewSegway {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        min-height: 70vh;
        width: 100%;

        h1 {
            @include font-header-medium;
            font-weight: var(--fw-bold);
        }

        p {
            @include font-subheader;
            margin-top: 1rem;
        }
    }

    .endLogo {
        display: flex;
        align-items: center;
        justify-content: center;

        height: var(--padding-section);
        svg {
            height: 3.5rem;
            width: 3.5rem;
            fill: var(--color-black);
        }
    }
}

.parallaxSection {
    // border-radius: 0 0 var(--border-radius-main) var(--border-radius-main);

    // margin-bottom: var(--sectionNegativeMarginBottom);
    z-index: 14;
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                About Section                               */
/* ////////////////////////////////////////////////////////////////////////// */
header.about {
    position: sticky;
    bottom: 0;

    z-index: 13;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--headerPadding);

    background: var(--color-primary-700);
    color: var(--color-white);

    .headerDecorated {
        --color: var(--color-white);
    }

    &::before {
        content: "";
        padding-top: var(--padding-section);
    }

    h1 {
        @include font-header;
    }

    p {
        @include font-subheader-medium;
        font-weight: var(--fw-light);

        text-align: center;

        max-width: var(--width-container-medium);

        margin-top: var(--margin-top-subheader);
    }
}

section.about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;

    border-radius: 0 0 var(--border-radius-main) var(--border-radius-main);

    margin-bottom: var(--sectionNegativeMarginBottom);

    padding-bottom: var(--padding-section);

    background: var(--color-primary-700);
    color: var(--color-white);

    z-index: 13;

    .timelineGrid {
        display: grid;
        grid-template-columns: 8fr 1fr 8fr;
        align-items: start;
        justify-items: center;

        width: var(--width-container-main-bigger);
        margin-inline: auto;

        .timeline {
            width: min(90%, 3px);
            height: 100%;
            background-color: var(--color-white);
        }

        .timelineContent {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: calc(var(--padding-element) * 4);

            padding-block: calc(var(--padding-element) * 4);
            padding-inline: calc(var(--padding-element) * 2);
        }
    }

    .textScroller {
        padding: var(--padding-element);
        margin-block: var(--padding-element);

        background: var(--color-primary-600);

        h3 {
            @include font-header;
            font-size: var(--fs-8);
        }
    }

    h1 {
        position: relative;
        @include font-header-medium;
        margin-block: var(--padding-section);
    }

    h2 {
        position: relative;
        @include font-subheader-medium;
        font-weight: var(--fw-light);

        text-align: center;

        max-width: var(--width-container-small);

        margin-top: var(--margin-top-subheader);
    }

    p {
        @include font-body;
        font-weight: var(--fw-light);
        text-align: start;
        // opacity: 0.75;
    }

    .progressBar {
        position: absolute;
        bottom: -0.75em;
        left: 35%;

        width: 30%;
        height: 3px;

        background: var(--color-white);
    }
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                 End Section                                */
/* ////////////////////////////////////////////////////////////////////////// */
section.end {
    position: sticky;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    min-height: calc(150dvh + var(--sectionNegativeMarginBottom) * -1);

    background: var(--color-primary-50);

    z-index: 10;

    .cta {
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        max-height: 90dvh;

        .headerDecorated {
            --color: var(--color-success);
        }

        h1 {
            font-family: var(--font-header-alt-700);
            font-size: var(--fs-8);
            text-transform: uppercase;
        }

        button {
            position: relative;

            @include font-button;

            margin-block: 1em;
            padding: var(--padding-button);
            border: none;

            background: var(--color-success);
            color: var(--color-black);

            &::before {
                position: absolute;
                content: "";
                top: 50%;
                right: calc(100% + var(--padding-element));

                height: 3px;
                width: 200%;

                background: var(--color-black);
            }

            &::after {
                position: absolute;
                content: "";
                top: 50%;
                left: calc(100% + var(--padding-element));

                height: 3px;
                width: 200%;

                background: var(--color-black);
            }
        }
    }

    .foot {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: end;
        justify-items: center;

        width: var(--width-container-main-bigger);
        margin-inline: auto;

        padding-block: var(--padding-element);

        & > :first-child {
            place-self: start;
        }

        & > :last-child {
            place-self: end;
        }

        p,
        a {
            @include font-tiny;
            color: var(--color-black);
            opacity: 0.75;
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 1rem;

            svg {
                height: 1rem;
                width: 1rem;
                fill: var(--color-black);
                opacity: 0.75;
            }
        }
    }
}

footer.footer {
    position: sticky;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-block: calc(var(--padding-section) * 0.5) var(--padding-element);

    z-index: 9;

    background: linear-gradient(var(--color-primary-700), var(--color-primary-800));
    color: var(--color-white);

    .brand {
        svg {
            height: 18vh;
        }
        padding-bottom: calc(var(--padding-element) * 0.5);
    }

    .separator {
        height: 1px;
        width: var(--width-container-main-bigger);

        background: var(--color-accent-500);
        opacity: 0.5;
    }

    .legals {
        p {
            @include font-tiny;

            padding-top: calc(var(--padding-element) * 0.5);
            color: var(--color-accent-500);
            opacity: 0.5;
        }
    }
}
