@import "~/styles/mixins";

/* ////////////////////////////////////////////////////////////////////////// */
/*                            Placeholder Sections                            */
/* ////////////////////////////////////////////////////////////////////////// */
section.placeholder {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;
    width: 100%;
    background: var(--color-primary-100);

    &:nth-of-type(odd) {
        background: var(--color-primary-50);
    }
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                   Global                                   */
/* ////////////////////////////////////////////////////////////////////////// */
main.main {
    isolation: isolate;

    .heroWrapper {
        position: relative;
        z-index: 0;
    }
    .stickyWrapper {
        --sectionNegativeMarginBottom: calc(var(--border-radius-main) * -1 - var(--margin-shadow));
        --headerPadding: calc(var(--sectionNegativeMarginBottom) * -1 + 5rem) 0 5rem 0;

        position: relative;
        z-index: 1;

        header {
            position: sticky;
            bottom: 0;
        }
    }
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                Hero Section                                */
/* ////////////////////////////////////////////////////////////////////////// */
.heroSpacer {
    height: 100lvh;
    width: 100%;

    margin-bottom: -100lvh;
}

section.hero {
    position: sticky;
    top: 0;

    height: 100lvh; // Assume the margin between sections will create enough spacing between to avoid bad looks on mobile
    width: 100%;

    .background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background-color: var(--color-primary-700);

        z-index: -1;
    }

    .cardArea {
        position: relative;
        display: flex;
        flex-direction: column;

        height: 100%;
        width: 100%;

        border-radius: var(--border-radius-main) var(--border-radius-main) 0 0;

        // background-color: var(--color-primary-50);

        overflow: hidden;

        .backgroundGrid {
            position: absolute;
            top: 0;
            left: 0;

            height: 100%;
            width: 100%;

            z-index: -1;

            background-color: var(--color-primary-50);

            .grid {
                position: absolute;
                content: "";
                top: 0;
                left: 0;

                height: 100%;
                width: 100%;

                background: url("~/public/perspectiveGrid.svg") center / 100% 100% no-repeat;

                opacity: 0.4;
            }

            &::after {
                position: absolute;
                content: "";
                bottom: 0;
                left: 0;
                height: 70%;
                width: 100%;

                background: linear-gradient(180deg, #e6e9ef00 20%, #e6e9efff 100%);
                // background: linear-gradient(180deg, #e6e9ef00, #e6e9efff 40%, #e6e9efff 70%, #e6e9ef00 100%);
            }
        }

        .branding {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding-block: 1.5rem;

            .logo svg {
                height: 2.5rem;
                fill: var(--color-black);
            }

            .name {
                text-align: center;
                font-weight: bold;
                font-family: var(--font-brand);
                font-size: var(--font-step-0);
                line-height: 1;

                text-transform: uppercase;

                color: var(--color-black);
                opacity: 0.5;
            }
        }

        .slogan {
            position: relative;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin-top: 18lvh;

            @include mobile {
                margin-top: 10lvh;
            }

            p:nth-child(1) {
                text-align: center;
                font-size: var(--font-step-8);
                font-weight: 700;
                font-family: var(--font-brand);

                // text-shadow: 0 0 0.1rem var(--color-black);

                span {
                    font-family: var(--font-brand-alt);
                }

                @include mobile {
                    font-size: var(--font-step-6);
                }
            }

            p:nth-child(2) {
                text-align: center;
                font-size: var(--font-step-3);
                font-weight: 500;
                font-family: var(--font-serif);

                @include mobile {
                    font-size: var(--font-step-1);
                }
            }

            &::before {
                position: absolute;
                content: "";
                top: -50%;
                left: 0;

                height: 200%;
                width: 100%;

                background: linear-gradient(180deg, #e6e9ef00 0%, #e6e9efff 50%, #e6e9efff 60%, #e6e9ef00 100%);

                z-index: -1;

                @include mobile {
                    background: linear-gradient(180deg, #e6e9ef00 0%, #e6e9efff 50%, #e6e9ef00 100%);
                }
            }
        }

        .cta {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            margin-top: auto;
            margin-bottom: 15lvh;

            .buttonContainer {
                position: relative;

                border: none;
                padding: 0;
                background: none;

                cursor: pointer;

                overflow: hidden;

                .slider {
                    position: relative;

                    .face {
                        padding: 0.5em 0.75em;

                        font-size: var(--font-step-1);
                        width: 100%;

                        background: var(--color-success);

                        p {
                            font-weight: 500;
                            text-align: center;
                            background: none;
                        }

                        &:nth-of-type(2) {
                            position: absolute;
                            top: 0;
                            left: 100%;

                            background: var(--color-black);

                            p {
                                color: var(--color-white);
                            }
                        }
                    }
                }
            }

            .description {
                margin-top: 2lvh;
                p {
                    font-size: var(--font-step-0);
                    font-weight: 400;
                    font-family: var(--font-serif);

                    text-align: center;
                    opacity: 0.75;
                    line-height: 1.75;
                }
            }
        }
    }
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                               Segway Section                               */
/* ////////////////////////////////////////////////////////////////////////// */
section.segway {
    position: relative;
    // padding-inline: 1.5lvh;

    // background-color: var(--color-primary-700);

    overflow: hidden;

    z-index: 20;

    margin-bottom: var(--sectionNegativeMarginBottom);

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        border-radius: 0 0 var(--border-radius-main) var(--border-radius-main);
        background-color: var(--color-primary-50);

        box-shadow: var(--box-shadow);

        margin-bottom: var(--margin-shadow);

        padding-top: 10lvh;

        h2 {
            font-size: 3.3rem;
            font-weight: 300;
            font-family: var(--font-serif);
            text-align: center;
            line-height: 1.25;

            max-width: min(90%, 40rem);
        }

        p {
            font-size: 1.5rem;
            font-weight: 400;
            font-family: var(--font-serif);
            text-align: center;
            line-height: 1.5;

            max-width: min(90%, 50rem);

            margin-top: 2.5rem;
        }

        svg {
            height: 3.5rem;
            width: 3.5rem;

            margin-block: 6lvh;

            fill: var(--color-black);
        }
    }
}

header.features {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--headerPadding);

    background: var(--color-success);

    h1 {
        font-family: var(--font-serif);
        font-weight: 200;
        font-size: 6rem;

        @include mobile {
            font-size: 4rem;
        }
    }

    z-index: 19;
}
section.features {
    position: relative;

    height: 100lvh;
    width: 100%;
    background: var(--color-success);

    z-index: 19;
}
