@import "~/styles/mixins";

.container {
    display: flex;
    flex-direction: column;
    gap: var(--padding-element);

    // height: 100%;
    width: 100%;
    padding-block: var(--padding-side);

    & > h2 {
        @include font-header-medium;
        font-size: var(--fs-3);
        font-weight: var(--fw-bold);

        @include mobile {
            font-size: var(--fs-2);
        }
    }

    form {
        flex: 1;
    }

    .foot {
        & > p {
            @include font-small;
            font-weight: var(--fw-regular);

            a {
                font-weight: var(--fw-medium);
                text-decoration: underline;
            }
        }

        .separator {
            height: 1px;
            width: 100%;
            margin-block: var(--padding-side);

            background: var(--color-gray);
        }
    }
}
