@import "~/styles/mixins";

/* ////////////////////////////////////////////////////////////////////////// */
/*                             Comparison Section                             */
/* ////////////////////////////////////////////////////////////////////////// */
section.comparison {
    position: relative;
    padding-block: var(--padding-section);

    margin-bottom: var(--sectionNegativeMarginBottom);
    border-radius: 0 0 var(--border-radius-main) var(--border-radius-main);

    background: var(--color-primary-100);

    z-index: 18;

    .tableHeader {
        position: sticky;
        top: 0;
        z-index: 10;

        .headerWrapper {
            display: grid;
            grid-template-columns: auto repeat(2, 20%);

            width: var(--width-container-main-bigger);
            margin-inline: auto;

            @include mobile {
                grid-template-columns: 0 repeat(2, 1fr);
            }
        }

        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;

            height: 1px;
            width: 100%;

            background: var(--color-black);
            opacity: 0.1;
        }

        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;

            height: 100%;
            width: 100%;

            background: var(--color-primary-100);
        }
    }

    .tableCard {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: var(--padding-element);

        @include mobile {
            padding: calc(var(--padding-element) * 0.5);
        }

        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;

            height: 100%;
            width: 1px;

            background: var(--color-black);
            opacity: 0.1;
        }

        &:nth-child(2)::before {
            @include mobile {
                display: none;
                opacity: 0;
            }
        }

        h2 {
            @include font-small;
            text-align: center;
            opacity: 0.75;
            line-height: 1;

            @include mobile {
                display: none;
            }
        }

        h1 {
            @include font-header-medium;
            text-align: center;
        }

        button {
            @include font-button;
            border: none;
            padding: var(--padding-button);
            margin-top: 1rem;
            width: 100%;
            background: var(--color-success);

            @include mobile {
                margin-top: 0.5rem;
                padding: 0.5em;
            }
        }
    }

    .tableGroup {
        width: var(--width-container-main-bigger);
        margin-inline: auto;

        h1 {
            @include font-header-medium;
            font-size: var(--fs-2);
            font-weight: var(--fw-medium);
            margin-block: var(--padding-element);
        }
    }

    .tableRow {
        --fontSize: var(--fs-0);

        position: relative;

        display: grid;
        grid-template-columns: auto repeat(2, 20%);
        grid-template-areas: "first second third";

        @include mobile {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "first first"
                "second third";
        }

        & :nth-child(1) {
            grid-area: first;
            padding-left: var(--padding-element);

            @include mobile {
                padding-left: 0;
            }
        }

        & :nth-child(2) {
            grid-area: second;
        }

        & :nth-child(3) {
            grid-area: third;
        }

        &:first-of-type {
            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;

                height: 1px;
                width: 100%;

                background: var(--color-black);
                opacity: 0.1;
            }
        }

        &:nth-child(odd) {
            background: var(--color-primary-50);
        }

        .tableColumn {
            position: relative;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            padding: calc(var(--padding-element) * 0.5);

            font-family: var(--font-body);
            font-size: var(--fontSize);

            p {
                opacity: 0.5;
            }

            &::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;

                height: 100%;
                width: 1px;

                background: var(--color-black);
                opacity: 0.1;
            }

            &:nth-child(2):before {
                @include mobile {
                    display: none;
                    opacity: 0;
                }
            }
        }

        .tableFirst {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;

            font-size: var(--fontSize);
            font-weight: var(--fw-light);

            @include mobile {
                justify-content: center;
                padding-block: calc(var(--padding-element) * 0.5);
            }
        }
    }

    .tableSeparator {
        content: "";

        height: 1px;
        width: 100%;

        background: var(--color-black);
        opacity: 0.1;
    }
}
