@import "~/styles/mixins";

/* ////////////////////////////////////////////////////////////////////////// */
/*                               Contact Segway                               */
/* ////////////////////////////////////////////////////////////////////////// */
header.contactSegway {
    position: sticky;
    bottom: var(--sectionNegativeMarginBottom);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: var(--headerPadding);
    margin-bottom: var(--sectionNegativeMarginBottom);

    border-radius: 0 0 var(--border-radius-main) var(--border-radius-main);
    box-shadow: var(--box-shadow-top);

    background: var(--color-primary-700);

    z-index: 16;

    h1 {
        @include font-header-medium;
        font-weight: var(--fw-bold);
        margin-top: 15vh;
        color: var(--color-white);
        text-align: center;

        width: var(--width-container-main-bigger);
    }

    h2 {
        @include font-subheader-medium;
        margin-top: 1rem;
        margin-bottom: 15vh;
        color: var(--color-white);
        text-align: center;

        width: var(--width-container-main-bigger);
    }
}
