@import "~/styles/mixins";

/* ////////////////////////////////////////////////////////////////////////// */
/*                                 End Section                                */
/* ////////////////////////////////////////////////////////////////////////// */
section.end {
    position: sticky;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    min-height: calc(150lvh + var(--sectionNegativeMarginBottom) * -1);

    background: var(--color-primary-50);

    z-index: 10;

    .cta {
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        max-height: 90lvh;

        overflow: hidden;

        @include mobile {
            max-height: 70vh;
        }

        .headerDecorated {
            --color: var(--color-success);
        }

        h1 {
            font-family: var(--font-header-alt-700);
            font-size: var(--fs-8);
            text-transform: uppercase;
            text-align: center;

            @include mobile {
                font-size: var(--fs-4);
            }
        }

        button {
            --decorationWidth: 200%;
            position: relative;

            @include font-button;

            margin-block: 1em;
            padding: var(--padding-button);
            border: none;

            background: var(--color-success);
            color: var(--color-black);

            transition: all var(--animation-duration-medium) var(--animation-function-bezier);

            &::before {
                position: absolute;
                content: "";
                top: 50%;
                right: calc(100% + var(--padding-element));

                height: 3px;
                width: var(--decorationWidth);

                background: var(--color-black);
                transition: all var(--animation-duration-medium) var(--animation-function-bezier);
                @include mobile {
                    width: calc(var(--decorationWidth) * 0.125);
                }
            }

            &::after {
                position: absolute;
                content: "";
                top: 50%;
                left: calc(100% + var(--padding-element));

                height: 3px;
                width: var(--decorationWidth);

                background: var(--color-black);
                transition: all var(--animation-duration-medium) var(--animation-function-bezier);
                @include mobile {
                    width: calc(var(--decorationWidth) * 0.125);
                }
            }

            &:hover {
                --decorationWidth: 400%;
                background: var(--color-primary-700);
                color: var(--color-white);

                &::before {
                    right: calc(100% + var(--padding-element) * 0.5);
                }

                &::after {
                    left: calc(100% + var(--padding-element) * 0.5);
                }
            }
        }
    }

    .foot {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: end;
        justify-items: center;

        width: var(--width-container-main-bigger);
        margin-inline: auto;

        padding-block: var(--padding-element);

        & > :first-child {
            place-self: start;
        }

        & > :last-child {
            place-self: end;
        }

        p,
        a {
            @include font-tiny;
            color: var(--color-black-50);
        }

        span {
            &:hover,
            &:hover * {
                color: var(--color-black);
            }
        }

        ul {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 1rem;

            svg {
                height: 1rem;
                width: 1rem;
                fill: var(--color-black-50);

                &:hover {
                    fill: var(--color-black);
                }
            }
        }
    }
}
