.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--color-primary-100);

    & > * {
        height: fit-content;
        min-height: 75svh;
    }
}
