@import "~/styles/mixins";

.scaffold {
    display: grid;
    grid-template-columns: 1fr 1fr;

    min-height: 100lvh;

    background: var(--color-primary-50);

    & > * {
        padding-inline: 10vw;

        @include mobile {
            padding-inline: var(--padding-side);
        }
    }

    @include laptop {
        grid-template-columns: 1fr;

        & > :first-child {
            display: none;
        }
    }
}
